<div class="container-fluid">
  <div class="mx-lg-auto log-in-width">
    <div>
      <h1>新規会員登録</h1>
    </div>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user' do |f| %>
      <%= render "user/shared/error_messages", resource: resource %>
      <div>
        <div>
          <h4>登録情報</h4>
        </div>
        <div>
          <div>
            <div>
              <%= f.label :user_name, "ユーザー名(半角英数のみ)", class: "required" %>
            </div>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text">@</div>
                <%= f.text_field :user_name, autocomplete: "name", placeholder: "Username", class: "form-control" %>
              </div>
            </div>
          </div>
          <div>
            <div>
              <%= f.label :email, "メールアドレス", class: "required" %>
            </div>
            <div class="form-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <%= f.email_field :email, autocomplete: "email", placeholder: "sanpo_dou@walk.com", class: "form-control" %>
              </div>
            </div>
          </div>
          <div>
            <div>
              <%= f.label :password, "パスワード (#{@minimum_password_length}文字以上)", class: "required" %>
              <% if @minimum_password_length %>

              <% end %>
            </div>
            <div class="form-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
              </div>
            </div>
          </div>
          <div>
            <div>
              <%= f.label :password_confirmationv, "パスワード (確認用)", class: "required" %>
              <% if @minimum_password_length %>

              <% end %>
            </div>
            <div class="form-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div>
            <div><%= f.submit "新規登録" %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div>
    <div>
      <h5><%= render "user/shared/links" %></h5>
    </div>
  </div>
</div>