<div class="container-fluid">
  <div class="col-lg-8 mx-lg-auto">
    <div class="row p-0">
      <div class="col-lg-3">
        <%= render 'layouts/side' %>
      </div>
      <div class="col-lg-9">
        <div class="border-top">
          <div>
            <%= render 'layouts/search_post' %>
          </div>
          <div class="text-right p-2">
            <%= link_to admin_post_report_posts_path, class: "text-danger h5" do %>
              >> 報告された投稿
            <% end %>
          </div>
          <div>
            <div>
              <table class="table w-100">
                <thead>
                  <tr class="text-center">
                    <th>投稿ID</th>
                    <th>投稿者</th>
                    <th>本文</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @posts.reverse.each do |post| %>
                    <tr class="text-center">
                      <th><%= post.id %></th>
                      <td>
                        <%= link_to admin_user_path(post.user.id), class: "text-dark" do %>
                          <span><%= post.user.account_name %></span> <span class="a_user_name">@<%= post.user.user_name %></span></td>
                        <% end %>
                      <td class="post-body"><%= post.body %></td>
                      <td><%= link_to "詳細", admin_post_path(post.id), class: "btn btn-sm btn-outline-success" %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
