<div class="container">
  <div>
    <div>
      <h1>会員情報編集</h1>
    </div>
    <%= form_with model: @user, url: user_path do |f| %>
    <%= render "layouts/error_messages", resource: @user %>
      <div>
        <div>
          <h4>登録情報</h4>
        </div>
        <div>
          <div>
            <div>
              <%= f.label :account_name, "ユーザー名" %><span>必須</span>
            </div>
            <div>
              <%= f.text_field :account_name, placeholder: "さんぽ太郎", autocomplete: "name", class: "w-100" %>
            </div>
          </div>
          <div>
            <div>
              <%= f.label :introduction, "プロフィール" %>
            <div>
              <%= f.text_area :introduction, placeholder: "プロフィール", class: "w-100" %>
            </div>
          </div>
          <div>
            <div>
              <%= f.label :age, "年齢" %>
            <div>
              <%= f.text_field :age, autocomplete: "age", class: "w-50" %>歳
            </div>
          </div>
          <div>
            <div>
              <%= f.label :sex, "性別" %>
            </div>
            <div>
              <%= f.radio_button :sex, User.sexes.key(0) %>
              <%= f.label :sex, "男性", value: User.sexes.key(0) %>
              <%= f.radio_button :sex, User.sexes.key(1) %>
              <%= f.label :sex, "女性", value: User.sexes.key(1) %>
              <%= f.radio_button :sex, User.sexes.key(2) %>
              <%= f.label :sex, "その他", value: User.sexes.key(2) %>
            </div>
          </div>
        </div>
        <div>
          <div>
            <div><%= f.submit "変更" %></div>
            <div><%= link_to '退会する', users_retire_path %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
