<div class="container">
  <div>
    <div>
      <h1>新規会員登録</h1>
    </div>
    <%= form_with model: @user do |f| %>
      <div>
        <div>
          <h4>登録情報</h4>
        </div>
        <div>
          <div>
            <div>
              <%= f.label :email, "メールアドレス" %><span>必須</span>
            </div>
            <div>
              <%= f.email_field :email, autocomplete: "email", placeholder: "sanpo_dou@walk.com", class: "w-100" %>
            </div>
          </div>
        </div>
        <div>
          <h4>アカウント情報</h4>
        </div>
        <div>
          <div>
            <div>
              <%= f.label :account_name, "アカウント名" %>
            </div>
            <div>
              <%= f.text_field :account_name, autocomplete: "name", class: "w-100" %>
            </div>
          </div>
          <div>
            <div>
              <%= f.label :age, "年齢" %>
            </div>
            <div>
              <%= f.text_field :age, autocomplete: "age", class: "w-50" %>歳
            </div>
          </div>
          <div>
            <div>
              <%= f.label :sex, "性別" %>
            </div>
            <div>
              <%= f.radio_button :sex, :male %>
              <%= f.label :sex, "男性", value: 'male' %>
              <%= f.radio_button :sex, :female %>
              <%= f.label :sex, "女性", value: 'female' %>
              <%= f.radio_button :sex, :other %>
              <%= f.label :sex, "その他", value: 'other' %>
            </div>
          </div>
        </div>
        <div>
          <div>
            <div><%= f.submit "新規登録" %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>