<div class="container">
  <div>
    <div class="py-5 row">
      <div class="col-2">
        <%= image_tag @user.get_profile_image, class:"rounded-circle profile_img"; %>
      </div>
      <div class="">
        <div class="row">
          <h4><%= @user.account_name %></h4><span>@<%= @user.user_name %></span>
          <% if user_signed_in? %>
            <% if @user.id == current_user.id %>
              <%= link_to "プロフィール編集", edit_user_path %>
            <% else %>
              フォロー
            <% end %>
          <% end %>
        </div>
        <div>
          <p class="text-small"><%= link_to @user.followings.count, followings_user_path(@user) %> フォロー <%= link_to @user.followers.count, followers_user_path(@user) %> フォロワー</p>
        </div>
        <div class="py-3">
          <%= @user.introduction %>
        </div>
      </div>
    </div>

    <div>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active col-4" id="nav-post-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Post</a>
          <a class="nav-item nav-link col-4" id="nav-favorite-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
          <a class="nav-item nav-link col-4" id="nav-image-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">PostImage</a>
        </div>
      </nav>
    </div>

    <div class="tab-content" id="nav-tabContent">

      <!--ユーザー投稿一覧 -->
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-post-tab">
        <% @posts.each do |post| %>
          <div class="p-3 border">
            <div class="row">
              <div class="col-2 col-sm-1 p-1 p-sm-2">
                <%= link_to user_path(post.user.user_name), class: "a_post_link" do %>
                  <div>
                    <%= image_tag post.user.get_profile_image, class:"rounded-circle profile_img"; %>
                  </div>
                <% end %>
              </div>

              <div class="col-10 col-sm-11 p-1 p-sm-2">
                <div class="">
                  <strong class="h4"><%= link_to post.user.account_name, user_path(post.user.user_name), class: "a_user_link" %></strong>
                  <span>@<%= post.user.user_name %></span>
                </div>

                <%= link_to post_path(post.id), class: "a_post_link" do %>
                  <div class="py-4">
                    <%= post.body %>
                  </div>
                  <div class="mt-3">
                    <% if post.post_image.attached? %>
                      <p><%= image_tag post.post_image, class:"card-img post_image_index" %></p>
                    <% end %>
                  </div>
                    <% end %>

                <div class="border-top row pt-3">
                  <dic>
                    <span><i class="col-3"></i> <%= post.post_comments.count %>コメント</span>
                  </dic>
                  <div>
                    <span><i class="col-3"></i> <%= post.favorites.count %>いいね</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <!--お気に入り投稿一覧-->
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-favorite-tab">
         <% @user_favorites.each do |user_favorite| %>
          <div class="p-3 border">
            <div class="row">
              <div class="col-2 col-sm-1 p-1 p-sm-2">
                <%= link_to user_path(user_favorite.user.user_name), class: "a_post_link" do %>
                  <div>
                    <%= image_tag user_favorite.post.user.get_profile_image, class:"rounded-circle profile_img"; %>
                  </div>
                <% end %>
              </div>
              <div class="col-10 col-sm-11 p-1 p-sm-2">
              <div class="">
                <strong class="h4"><%= link_to user_favorite.user.account_name, user_path(user_favorite.user.user_name), class: "a_user_link" %></strong>
                  <span>@<%= user_favorite.user.user_name %></span>
                </div>
                <%= link_to post_path(user_favorite.post.id), class: "a_post_link" do %>
                  <div class="py-4">
                    <%= user_favorite.post.body %>
                  </div>
                    <div class="mt-3">
                    <% if user_favorite.post.post_image.attached? %>
                      <p><%= image_tag user_favorite.post.post_image, class:"card-img post_image_index" %></p>
                    <% end %>
                  </div>
                <% end %>
                <div class="border-top row pt-3">
                  <dic>
                    <span><i class="col-3"></i> <%= user_favorite.post.post_comments.count %>コメント</span>
                  </dic>
                  <div>
                    <span><i class="col-3"></i> <%= user_favorite.post.favorites.count %>いいね</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <!--投稿画像一覧-->
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-image-tab">
        <div class="p-3 border">
          <div class="row">
            <% @posts.each do |post| %>
              <%= link_to post_path(post.id) do %>
                <div class="col-3">
                  <%= image_tag post.get_post_image, class: "user_post_images" %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
