<div class="container">
  <div class="col-lg-8 mx-auto">
    <div class="py-5 row">
      <div class="col-2">
        <%= image_tag @user.get_profile_image, class:"rounded-circle profile_img"; %>
      </div>
      <div class="">
        <div class="row">
          <h4><%= @user.account_name %></h4><span>@<%= @user.user_name %></span>
          <% if user_signed_in? %>
            <% if @user.id == current_user.id %>
              <%= link_to "プロフィール編集", edit_user_path %>
            <% else %>
              フォロー
            <% end %>
          <% end %>
        </div>
        <div>
          <p class="text-small"><%= link_to @user.followings.count, followings_user_path(@user) %> フォロー <%= link_to @user.followers.count, followers_user_path(@user) %> フォロワー</p>
        </div>
        <div class="py-3">
          <%= @user.introduction %>
        </div>
      </div>
    </div>
    <div>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active col-4" id="nav-post-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">投稿</a>
          <a class="nav-item nav-link col-4" id="nav-favorite-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">いいね</a>
          <a class="nav-item nav-link col-4" id="nav-image-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">投稿画像</a>
        </div>
      </nav>
    </div>

    <div class="tab-content" id="nav-tabContent">

      <!--ユーザー投稿一覧 -->
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-post-tab">
        <%= render 'layouts/posts', posts: @posts  %>
      </div>

      <!--お気に入り投稿一覧-->
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-favorite-tab">
         <%= render 'favorite_post', user_favorites: @user_favorites  %>
      </div>

      <!--投稿画像一覧-->
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-image-tab">
        <div class="p-3 border">
          <div class="row">
            <% @posts.each do |post| %>
              <%= link_to post_path(post.id) do %>
                <div class="col-3">
                  <% if post.post_image.attached? %>
                    <%= image_tag post.get_post_image, class: "user_post_images" %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
