<div class="container-fluid">
  <div class="mx-lg-auto watati-sc">
    <%= form_with model: @admin, url: admin_registration_path, id: 'new_admin', class: 'new_admin form-signin' do |f| %>
      <%= render "admin/shared/error_messages", resource: resource %>
      <div class="text-center">
        <h1 class="py-4">さんぽみち</h1>
      </div>
      <div>
        <div class="py-2">
          <div>
            <a><%= f.label :email, "メールアドレス", class: "required" %></a>
          </div>
          <div>
            <%= f.email_field :email, autocomplete: "email", placeholder: "Email", class: "form-control" %>
          </div>
        </div>
        <div class="py-2">
          <div>
            <%= f.label :password, "パスワード (#{@minimum_password_length}文字以上)", class: "required" %>
          </div>
          <div>
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "form-control" %>
          </div>
        </div>
        <div class="py-2">
          <div>
            <%= f.label :password_confirmationv, "パスワード (確認用)", class: "required" %>
          </div>
          <div>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password", class: "form-control" %>
          </div>
        </div>
        <div class="text-center">
          <%= f.submit "新規登録", class: "btn btn-lg btn-primary btn-block my-2" %>
          <h5 class=><%= render "admin/shared/links" %></h5>
        </div>
        <p class="mt-5 mb-3 text-muted text-center">© 2022-</p>
      </div>
    <% end %>
  </div>
</div>