<div class="container">
  <div class="new-post-width mx-auto">
    <div>
      <%= form_with model: @post do |f| %>
        <div>
          <h1 class="text-center">新規投稿</h1>
        </div>
        <div>
          <div class="py-2">
            <div>
              <%= f.label :post_image, "投稿画像", class: "h5" %>
            </div>
            <%= f.file_field :post_image, accept: 'image/jpg,image/jpeg,image/png' %><br />
            <span class="small text-danger">※画像の投稿は１枚のみです</span>
          </div>
          <div class="py-2">
            <div>
              <%= f.label :body, "投稿文", class: "h5" %>
            </div>
            <%= f.text_area :body, placeholder: "投稿文", class: "input form-control", rows: 15 %>
          </div>
          <div class="py-2">
            <div>
              <%= f.label :hashbody, "ハッシュタグ", class: "h5" %>
            </div>
            <%= f.text_area :hashbody, placeholder: "例) #風景 #喫茶店 #新発見", class: "input form-control", rows: 4 %>
          </div>
        </div>
        <div class="mt-4">
          <%= f.submit "新規投稿", class: "btn btn-lg btn-primary w-100" %>
        </div>
      <% end %>
    </div>
  </div>
</div>