<div class="container">
  <div>
    <div>
      投稿詳細
    </div>
    <div class="col-8">
      <div class="p-3 border row">
        <div class="col-1 p-0">
          <%= link_to user_path(@post.user.user_name), class: "a_post_link" do %>
            <div>
              <%= image_tag @post.user.profile_image, class:"rounded-circle w-100" %>
            </div>
          <% end %>
        </div>
        <div class="col-11">
          <%= link_to user_path(@post.user.user_name), class: "a_post_link" do %>
            <div class="">
              <strong class="h4"><%= @post.user.account_name %></strong> <span>@<%= @post.user.user_name %></span>
            </div>
          <% end %>
          <div class="py-2">
            <%= @post.body %>
          </div>
          <div class="pt-5">
            <% if @post.post_image.attached? %>
              <p><%= image_tag @post.post_image, class:"card-img post_image_show" %></p>
            <% end %>
          </div>
          <div class="border-top row px-3">
            <dic>
              <p><i class=""></i> <%= @post.post_comments.count %>コメント</p>
            </dic>
            <div>
              <% if @post.favorited_by?(current_user) %>
                <p>
                  <%= link_to post_favorite_path(@post), method: :delete do %>
                    ♥<%= @post.favorites.count %> いいね
                  <% end %>
                </p>
                <% else %>
                <p>
                  <%= link_to post_favorites_path(@post), method: :post do %>
                    ♡<%= @post.favorites.count %> いいね
                  <% end %>
                </p>
              <% end %>
            </div>
            <div>
              <%= link_to "削除", post_path(@post), method: :delete %>
            </div>
          </div>
          <div class="border-top row p-3">
            <% if user_signed_in? %>
              <%= form_with model:[@post, @post_comment]  do |f| %>
                <div>
                  <%= f.text_field :comment, placeholder: "コメント", class: "w-50" %> <%= f.submit "コメント投稿" %>
                </div>
              <% end %>
            <% else %>
              コメントは会員ユーザーのみ出来ます。
            <% end %>
          </div>
          <div class="border-top row p-3">
            <% @post_comments.each do |post_comment| %>
              <div>
                <%= post_comment.user.account_name %> <%= post_comment.comment %>
                <% if post_comment.user == current_user %>
                  <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
                <% end %>
              </div>
            <% end %>
          </div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>