<div class="container">
  <div class="mb-4">
    <h1 class="text-center">さんぽ記録</h1>
  </div>
  <div class="row">
    <div class="col-lg-4 py-2 px-4 mt-3">
      <h3>
        <%= link_to new_step_log_path, class: "btn btn-lg btn-primary" do %>
          New Record<i class="fa-solid fa-feather-pointed"></i>
        <% end %>
      </h3>
      <div>
        <div class="box1">
          <div>
            今月の合計歩数： <%= @month_date.sum(:number_of_step) %>歩
          </div>
          <div class="mt-4">
            今月の散歩時間： <%= @month_date.sum(:walking_time) %>分
          </div>
          <div class="mt-4">
            今月の消費kcal： <%= @month_date.sum(:calorie) %>kcal
          </div>
        </div>
        <div class="box1">
          <div>
            先月の合計歩数： <%= @prev_month_date.sum(:number_of_step) %>歩
          </div>
          <div class="mt-4">
            先月の散歩時間： <%= @prev_month_date.sum(:walking_time) %>分
          </div>
          <div class="mt-4">
            先月の消費kcal： <%= @prev_month_date.sum(:calorie) %>kcal
          </div>
        </div>
      </div>
      <div>
        <h5><%= link_to "過去一年分の集計>>", step_log_graph_path %></h5>
      </div>
    </div>
    <div class="col-lg-8 p-2">
      <%= month_calendar events: @step_logs do |date, step_logs| %>
        <%= date.day %>

        <% step_logs.each do |step_log| %>
          <div>
            <%= link_to step_log, class: "text-forest calender-text" do %>
              <span class="d-block"><i class="fa-solid fa-shoe-prints"></i></span>
              <span class="d-none d-sm-block"><%= step_log.number_of_step %>歩</span>
              <span class="d-none d-sm-block"><%= step_log.walking_time %>分</span>
              <span class="d-none d-sm-block"><%= step_log.calorie %>kcal</span>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
