<div class="container">
<h1 class="top">カレンダー</h1>
<br>

<div class="row">
<div class="col-md-4">

<%= form_with(model: @step_log, local: true) do |f| %>

  <div class="title">
    <div class="form-tag">歩数</div>
    <%= f.text_field :number_of_step %>歩
  </div>

  <div class="content">
    <div class="form-tag">消費カロリー</div>
    <%= f.text_field :calorie %>kcal
  </div>

  <div class="content">
    <div class="form-tag">歩いた時間</div>
    <%= f.text_field :walking_time %>分
  </div>

  <div class="time">
    <div class="form-tag">時間</div>
    <%= f.date_select :start_time %>
  </div>

 <div class="submit">
    <%= f.submit %>
 </div>
<% end %>
</div>

<br>


<br>
<div class="col-md-8">
<%= month_calendar events: @step_logs do |date, step_logs| %>
  <%= date.day %>

  <% step_logs.each do |step_log| %>
    <div>
      <%= link_to step_log.calorie, step_log %> kcal
    </div>
  <% end %>
<% end %>
</div>
</div>
</div>