<script>
    function calc(weight, mets, time) {
      const calorie_value = document.getElementById('calorie').value = Math.round((weight * mets * (time / 60)) * 1.05) / 10;
    }
</script>

<div class="container">
  <div class="d-flex justify-content-center">
    <div class="">
      <h5><%= link_to "<<戻る", step_logs_path %></h5>
      <div class="new-recode-box">
        <h3 class="text-center border-bottom">New Recode</h3>
        <%= form_with model: @step_log do |f| %>
          <div class="py-2">
            <div>
              <%= f.label :start_time, "日にち", class: "equired mb-0" %>
            </div>
            <div>
              <%= f.date_field :start_time, class: "input" %>
            </div>
          </div>

          <div class="py-2">
            <div>
              <%= f.label :number_of_step, "歩数 (歩)", class: "required mb-0" %>
            </div>
            <div>
              <%= f.number_field :number_of_step, class: "input", min: "0" %>
            </div>
          </div>

          <div class="py-2">
            <div>
              <%= f.label :walking_time, "散歩時間 (分)", class: "required mb-0" %>
            </div>
            <div>
              <%= f.number_field :walking_time, class: "input", min: "0" %>
            </div>
          </div>

          <div class="py-2">
            <div>
              <%= f.label :calorie, "消費カロリー (kcal)", class: "required mb-0" %>
            </div>
            <div>
              <%= f.number_field :calorie, class: "input", id: "calorie", min: "0", step: "0.1" %>
            </div>
          </div>

          <div class="py-2">
            <%= f.submit "登録する", class: "btn btn-outline-dark" %>
          </div>
        <% end %>
      </div>
      <div>
        <div class=my-4>
          <h3></h3>
        </div>
        <div class="calorie-calculation-box">
          <span class="box-title">カロリー計算</span>
            <form class="diet_form">
              <dl>
                <dd>体重(kg)：</dd>
                <dd><input type="number" name="weight" min="0" step="0.1"></dd>
                <dd>運動強度(Mets)：</dd>
                <dd>
                  <select type="number" class="p-1" name="mets">
                    <option value="3">3METS: ウォーキング(通常)</option>
                    <option value="4">4METS: ウォーキング(少し速い)</option>
                    <option value="5">5METS: 自転車に乗る(のんびり)</option>
                    <option value="7">7METS: 自転車に乗る(全般)</option>
                    <option value="10">10METS: ランニング(9.7km/h)</option>
                    <option value="15">15METS: ランニング(14.5km/h)</option>
                  </select>
                </dd>
                <dd>運動時間(分)：</dd>
                <dd><input type="number" name="time" min="0"></dd>
                <p><input type="button" class="px-3 py-1" onclick="calc(weight.value, mets.value, time.value);" value="計算"><span class="attention">※自動で入力されます</span></p>
              </dl>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>