<div class="container-fluid">
  <div class="col-lg-8 mx-lg-auto">
    <div class="row p-0">
      <div class="col-lg-3">
        <%= render 'layouts/side_admin' %>
      </div>
      <div class="col-lg-9">
        <div class="border-top">
          <% @users.each do |user| %>
            <div class="p-3 border-right border-left border-bottom">
              <div class="row">

                <!--プロフィール画像-->
                <div class="col-2 col-md-1 p-1 p-sm-2">
                  <%= link_to admin_user_path(user.id), class: "a-post-link" do %>
                    <div>
                      <%= image_tag user.get_profile_image, class:"rounded-circle profile_img"; %>
                    </div>
                  <% end %>
                </div>

                <!--プロフィール情報-->
                <div class="col-10 col-md-11 py-0 px-2">
                  <div class="d-flex justify-content-between">
                    <div class="py-1">
                      <h5 class="p-0 m-0"><%= link_to user.account_name, admin_user_path(user.id), class: "a_user_link" %></h5>
                      <span><%= link_to " @#{user.user_name}", admin_user_path(user.id), class: "a_user_name" %></span>
                    </div>
                    <div class="mx-3">
                      <%= link_to "プロフィール編集", edit_admin_user_path(user.id), class: "btn btn-outline-success btn-sm" %>
                    </div>
                  </div>
                  <div>
                    <a>
                      <%= user.introduction %>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
