<div class="container">
  <div class="row p-0">
    <div class="col-lg-3">
      <%= render 'layouts/side' %>
    </div>
    <div class="col-lg-9">
      <div class="border-top">
        <div>
          <%= render 'layouts/search_user' %>
        </div>
        <div>
          <div>
            <table class="table">
              <thead>
                <tr class="text-center">
                  <th>ID</th>
                  <th>名前</th>
                  <th>ステータス</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @users.each do |user| %>
                  <tr>
                    <th class="text-center"><%= user.id %></th>
                    <td>
                      <%= link_to admin_user_path(user), class: "text-dark" do %>
                        <span><%= user.account_name %></span> <span class="a_user_name">@<%= user.user_name %></span>
                      <% end %>
                    </td>
                    <td class="text-center">
                      <% unless user.is_deleted == true %>
                        <span class="btn btn-sm btn-primary">使用中</span>
                      <% else %>
                        <span class="btn btn-sm btn-danger">退会済</span>
                      <% end %>
                    </td>
                    <td class="text-center"><span><%= link_to "詳細", admin_user_path(user.id), class: "btn btn-sm btn-outline-success" %></span></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
