<header class="shadow-sm">
  <nav class="navbar navbar-light fixed-top navbar-expand-lg" style="background-color: #e3f2fd;">
    <% if admin_signed_in? %>
      <%= link_to "さんぽみち（管理者用）", admin_root_path, class:"header-title navbar-brand hannotate-sc"%>
    <% else %>
      <%= link_to "さんぽみち", root_path, class:"header-title navbar-brand hannotate-sc"%>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <span class="nav-link">
              <%= link_to user_path(current_user.user_name), class: "text-dark mx-2" do %>
                <i class="fa-solid fa-user"></i> マイページ
              <% end %>
            </span>
          </li>
          <li class="nav-item">
            <span class="nav-link">
              <%= link_to search_users_path, class: "text-dark mx-2" do %>
                <i class="fa-solid fa-magnifying-glass"></i> 話題を検索
              <% end %>
            </span>
          </li>
          <li class="nav-item">
            <span class="nav-link">
              <%= link_to posts_path, class: "text-dark mx-2" do %>
                <i class="fa-solid fa-signs-post"></i> 投稿一覧
              <% end %>
            </span>
          </li>
          <li class="nav-item">
            <span class="nav-link">
              <%= link_to users_path, class: "text-dark mx-2" do %>
                <i class="fa-solid fa-users"></i> ユーザー一覧
              <% end %>
            </span>
          </li>
          <li class="nav-item">
            <span class="nav-link">
              <%= link_to destroy_user_session_path, method: :delete, class: "text-dark mx-2" do %>
                <i class="fa-solid fa-right-from-bracket"></i> ログアウト
              <% end %>
            </span>
          </li>
        <% elsif admin_signed_in? %>
          <li class="nav-item">
            <span class="nav-link">
                <i class="fa-solid fa-user"></i> マイページ
            </span>
          </li>
          <li class="nav-item">
            <span class="nav-link">
                <i class="fa-solid fa-magnifying-glass"></i> 話題を検索
            </span>
          </li>
          <li class="nav-item">
            <span class="nav-link">
              <%= link_to admin_posts_path, class: "text-dark mx-2" do %>
                <i class="fa-solid fa-signs-post"></i> 投稿一覧
              <% end %>
            </span>
          </li>
          <li class="nav-item">
            <span class="nav-link">
              <%= link_to admin_users_path, class: "text-dark mx-2" do %>
                <i class="fa-solid fa-users"></i> ユーザー一覧
              <% end %>
            </span>
          </li>
          <li class="nav-item">
            <span class="nav-link">
              <%= link_to destroy_admin_session_path, method: :delete, class: "text-dark mx-2" do %>
                <i class="fa-solid fa-right-from-bracket"></i> ログアウト
              <% end %>
            </span>
          </li>
        <% else %>
          <li class="nav-item">
            <span class="nav-link">
              <%= link_to about_path, class: "text-dark mx-2" do %>
                <i class="fa-solid fa-table"></i> About
              <% end %>
            </span>
          </li>
          <li class="nav-item">
            <span class="nav-link">
              <%= link_to search_users_path, class: "text-dark mx-2" do %>
                <i class="fa-solid fa-magnifying-glass"></i> 話題を検索
              <% end %>
            </span>
          </li>
          <li class="nav-item">
            <span class="nav-link">
              <%= link_to posts_path, class: "text-dark mx-2" do %>
                <i class="fa-solid fa-signs-post"></i> 投稿一覧
              <% end %>
            </span>
          </li>
          <li class="nav-item">
            <span class="nav-link">
              <%= link_to users_path, class: "text-dark mx-2" do %>
                <i class="fa-solid fa-users"></i> ユーザー一覧
              <% end %>
            </span>
          </li>
          <li class="nav-item">
            <span class="nav-link">
              <%= link_to new_user_session_path, class: "text-dark mx-2" do %>
                <i class="fa-solid fa-arrow-right-to-bracket"></i> ログイン
              <% end %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>