<% posts.reverse.each do |post| %>
  <div class="p-3 border-right border-left border-bottom">
    <div class="row">

      <!--プロフィール画像-->
      <div class="col-2 col-sm-1 p-1 p-sm-2">
        <%= link_to user_path(post.user.user_name), class: "a-post-link" do %>
          <div>
            <%= image_tag post.user.get_profile_image, class:"rounded-circle profile_img"; %>
          </div>
        <% end %>
      </div>

      <!--投稿情報-->
      <div class="col-10 col-md-11 p-1 p-sm-2">
        <div>
          <div>
            <strong><%= link_to post.user.account_name, user_path(post.user.user_name), class: "a_user_link" %></strong>
            <span class="text-truncate"><%= link_to " @#{post.user.user_name}", user_path(post.user.user_name), class: "a_user_name" %></span>
          </div>
          <div>
            <span class="small"><%= post.created_at.strftime('%Y/%m/%d') %>投稿</span>
          </div>
        </div>

        <div class="my-3">
          <% unless admin_signed_in? %>
            <%= link_to post_path(post), class: "a-post-link" do %>
              <div class="p-2 post-body">
                <%= safe_join("#{post.body}".split("\n"),tag(:br)) %>
              </div>
              <div class="p-2 post-body">
                <%= render_with_hashtags(post.hashbody) %>
              </div>
              <% if post.post_image.attached? %>
                <div class="p-2">
                  <p><%= image_tag post.index_post_image, class:"card-img post-image-index" %></p>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to admin_post_path(post), class: "a-post-link" do %>
              <div class="p-2 post-body">
                <%= safe_join("#{post.body}".split("\n"),tag(:br)) %>
              </div>
              <div class="p-2 post-body">
                <%= render_with_hashtags(post.hashbody) %>
              </div>
              <% if post.post_image.attached? %>
                <div class="p-2">
                  <p><%= image_tag post.index_post_image, class:"card-img post-image-index" %></p>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <div class="border-top d-flex justify-content-around pt-3">
          <div>
            <%= link_to post_path(post), class: "text-dark" do %>
              <span><i class="fa-regular fa-comments"></i> <%= post.post_comments.count %></span>
            <% end %>
          </div>
          <div>
            <% if user_signed_in? %>
              <% if post.favorited_by?(current_user) %>
                <%= link_to post_favorites_path(post), method: :delete, class: "favorite-settled" do %>
                  <i class="fa-solid fa-heart"></i> <%= post.favorites.count %>
                <% end %>
              <% else %>
                <%= link_to post_favorites_path(post), method: :post, class: "favorite-not-settled" do %>
                  <i class="fa-regular fa-heart"></i> <%= post.favorites.count %>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to post_favorites_path(post), method: :post, class: "favorite-not-settled" do %>
                <i class="fa-regular fa-heart"></i> <%= post.favorites.count %>
              <% end %>
            <% end %>
          </div>
          <div>
            <% if user_signed_in? && current_user.id == post.user.id %>
              <%= link_to post_path(post), method: :delete, "data-confirm" => "本当に消しますか?", class: "trash-settled" do %>
                <span><i class="fa-solid fa-trash"></i> 削除</span>
              <% end %>
            <% else %>
              <% if user_signed_in? %>
                <% if post.reported_by?(current_user) %>
                  <%= link_to post_reports_path(post), method: :delete, "data-confirm" => "報告を取消しますか?", class: "text-success" do %>
                    <span><i class="fa-solid fa-check"></i> 報告済</span>
                  <% end %>
                <% else %>
                  <%= link_to new_post_reports_path(post), class: "trash-settled" do %>
                    <span><i class="fa-solid fa-flag"></i> 報告</span>
                  <% end %>
                <% end %>
              <% elsif admin_signed_in? %>
                <%= link_to admin_post_path(post), class: "text-danger" do %>
                  <span><i class="fa-solid fa-flag"></i> <%= post.reports.count %>報告</span>
                <% end %>
              <% else %>
                <%= link_to new_post_reports_path(post), class: "trash-settled" do %>
                  <span><i class="fa-solid fa-flag"></i> 報告</span>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <% if admin_signed_in? %>
            <div>
              <%= link_to admin_post_path(post), method: :delete, "data-confirm" => "本当に消しますか?", class: "trash-settled" do %>
                <span><i class="fa-solid fa-trash"></i> 削除</span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% if posts.count == 0 %>
  <h5 class="m-4">投稿がありません</h5>
<% end %>