<nav class="d-none d-md-block bg-light side-content">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <% if user_signed_in? %>
        <li class="nav-item">
          <a class="nav-link active" href="#">
            <%= link_to "マイページ", user_path(current_user.user_name) %>
          </a>
        </li>
      <% end %>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <%= link_to "ユーザーを検索", search_users_path %>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <%= link_to "記事を検索", search_posts_path %>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <%= link_to "投稿一覧", posts_path %>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <%= link_to "ユーザー一覧", users_path %>
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Saved reports</span>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">
              Current month
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
              Last quarter
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
              Social engagement
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
              Year-end sale
        </a>
      </li>
    </ul>
  </div>
</nav>