<nav class="d-none d-lg-block side-content">
  <div class="">
    <ul class="nav flex-column">
      <% unless admin_signed_in? %>
        <% if user_signed_in? %>
          <li class="nav-item">
            <h5 class="nav-link">
              <%= link_to user_path(current_user.user_name), class: "text-dark" do %>
                <i class="fa-solid fa-user"></i> マイページ
              <% end %>
            </h5>
          </li>
          <li class="nav-item">
            <h5 class="nav-link">
              <%= link_to edit_user_path(current_user.user_name), class: "text-dark" do %>
                <i class="fa-solid fa-gear"></i> ユーザー情報編集
              <% end %>
            </h5>
          </li>
          </br>
        <% end %>
        <li class="nav-item">
          <h5 class="nav-link">
            <%= link_to search_users_path, class: "text-dark" do %>
              <i class="fa-solid fa-magnifying-glass"></i> 話題を検索
            <% end %>
          </h5>
        </li>
        <li class="nav-item">
          <h5 class="nav-link">
            <%= link_to posts_path, class: "text-dark" do %>
              <i class="fa-solid fa-signs-post"></i> 投稿一覧
            <% end %>
          </h5>
        </li>
        <li class="nav-item">
          <h5 class="nav-link">
            <%= link_to users_path, class: "text-dark" do %>
              <i class="fa-solid fa-users"></i> ユーザー一覧
            <% end %>
          </h5>
        </li>
        <% if user_signed_in? %>
          </br>
          <li class="nav-item">
            <h5 class="nav-link">
              <%= link_to destroy_user_session_path, method: :delete, class: "text-dark" do %>
                <i class="fa-solid fa-right-from-bracket"></i> ログアウト
              <% end %>
            </h5>
          </li>
        <% else %>
          </br>
          <li class="nav-item">
            <h5 class="nav-link">
              <%= link_to new_user_session_path, class: "text-dark" do %>
                <i class="fa-solid fa-arrow-right-to-bracket"></i> ログイン
              <% end %>
            </h5>
          </li>
        <% end %>
      <% else %>
        <li class="nav-item">
          <h5 class="nav-link">
            <%= link_to admin_posts_path, class: "text-dark" do %>
              <i class="fa-solid fa-signs-post"></i> 投稿一覧
            <% end %>
          </h5>
        </li>
        <li class="nav-item">
          <h5 class="nav-link">
            <%= link_to admin_users_path, class: "text-dark" do %>
              <i class="fa-solid fa-users"></i> ユーザー一覧
            <% end %>
          </h5>
        </li>
        <li class="nav-item">
          <h5 class="nav-link">
            <%= link_to admin_post_report_posts_path, class: "text-dark" do %>
              <i class="fa-solid fa-flag"></i>報告された投稿
            <% end %>
          </h5>
        </li>
        </br>
        <li class="nav-item">
          <h5 class="nav-link">
            <%= link_to destroy_admin_session_path, method: :delete, class: "text-dark" do %>
              <i class="fa-solid fa-right-from-bracket"></i> ログアウト
            <% end %>
          </h5>
        </li>
      <% end %>
    </ul>
  </div>
</nav>